.elemento {
  /* Adicionando mais transições */
  transition: all 1s;
}
/* Adicionando mais modificações */
.elemento:hover {
  background-color: green;
  height: 70px;
  width: 70px;
  transform: rotate(360deg);
}